@font-face {
    font-family: Sora;
    src: url('font/project_coffe/font/Sora-Light.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: SoraB;
    src: url('font/project_coffe/font/Sora-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: SoraS;
    src: url('font/project_coffe/font/Sora-Thin.ttf');
    font-weight: normal;
    font-style: normal;
}

:root{
    --color_yellou:#fffb00;
}
.color_yellou{
    color: var(--color_yellou);
}


*{    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    margin: auto;

}
body{
    background-color: #131315;
    font-family:  Sora;
    margin: auto;
}

ul{
    list-style-type:none;
}

a{
    text-decoration: none;
    color: #8d8d8d;
}


img{
    width: 100%;
    object-fit: contain;
}


@keyframes img_header {
    
        0%{
            bottom: -0.5rem;
            right: -5%;
        }
        50%{
            bottom: 0.5rem;
            right: 5%;
        }
}






    .dheader_shadow{
        width: 20vw;
        height: 20vw;
        position: absolute;
        background-color:#F9FF05;
        border-radius: 10000rem;
        -webkit-border-radius: 10000rem;
        -moz-border-radius: 10000rem;
        -ms-border-radius: 10000rem;
        -o-border-radius: 10000rem;
        box-shadow: 0 0 2rem 2rem #F9FF05,0 0 4rem 2rem #fbff05a6 ,0 0 6rem 4rem #fbff0560;
        z-index: -20;
        left: -18vw;
        top: -25vh;
}



        /*   navigetion  nav */

        .nav_haeder{
            position: relative;
            display: flex;
            justify-content: space-between;
            max-width: 1300px;
            margin: auto;
            margin-top: 3rem;
            align-items: center;
            
        }

        

        .logo_box{
            width: 80px;
            margin-bottom: 1.5rem;
        }



        .ul_nav{
                display: flex;
                justify-content: space-between;
                width: 620px;
                align-items: center;
                font-size: 1.2rem;
                gap: 2rem;
        }

        .box_search__icon > svg{
            width: 100%;
            height: 100%;
            fill: aliceblue;

        }

        .ul_nav li:last-child{
            padding-right: 0rem;
        }

        .ul_nav li{
            transition: all 300ms ease;
            -webkit-transition: all 300ms ease;
            -moz-transition: all 300ms ease;
            -ms-transition: all 300ms ease;
            -o-transition: all 300ms ease;
        }
        .ul_nav li:not(li:last-child) a{
            color: #918a8a;
            transition: all 300ms ease;
            -webkit-transition: all 300ms ease;
            -moz-transition: all 300ms ease;
            -ms-transition: all 300ms ease;
            -o-transition: all 300ms ease;
        }
        .ul_nav li:not(li:last-child):hover a{

            color: #fbff00;
            
        }   
        .ul_nav li:not(li:last-child) a::after{
            content: '';
            display: block;
            background-color: #fff;
            width: 80%;
            height: 2px;
            margin: auto;
            margin-top: 0.2rem;
            transform: scaleX(0);
            -webkit-transform: scaleX(0);
            -moz-transform: scaleX(0);
            -ms-transform: scaleX(0);
            -o-transform: scaleX(0);
            transition: all 300ms ease;
            -webkit-transition: all 300ms ease;
            -moz-transition: all 300ms ease;
            -ms-transition: all 300ms ease;
            -o-transition: all 300ms ease;
            }   
        .ul_nav li:not(li:last-child):hover a::after{
            transform: scaleX(1);
            -webkit-transform: scaleX(1);
            -moz-transform: scaleX(1);
            -ms-transform: scaleX(1);
            -o-transform: scaleX(1);
}   









        .nav_haeder > a:last-child{
            color:#070707;
            padding: 0.6rem 1.5rem;
            font-size: 1.5rem;
            background-color: #F9FF05;
            border-radius: 1rem;
            -webkit-border-radius: 1rem;
            -moz-border-radius: 1rem;
            -ms-border-radius: 1rem;
            -o-border-radius: 1rem;
            transition: all 300ms ease;
            -webkit-transition: all 300ms ease;
            -moz-transition: all 300ms ease;
            -ms-transition: all 300ms ease;
            -o-transition: all 300ms ease;
        }

            
        .nav_haeder > a:last-child:hover{
            color:#fbff00;
            background-color: #0e0c0c;
        }














        .box_search__icon:hover{
            cursor: pointer;
            background-color: #cfbd1a;
        }



        
        .box_search__icon{
            width: 1200px;
            height: 1200px;
            background-color: #494747;
            display: flex;
            padding: 14rem;
            position: absolute;
            border-radius: 1000rem;
            -webkit-border-radius: 1000rem;
            -moz-border-radius: 1000rem;
            -ms-border-radius: 1000rem;
            -o-border-radius: 1000rem;
            /* position: absolute; */
            transform: scale(0.04) translateX(0);
            -webkit-transform: scale(0.04) translateX(0);
            -moz-transform: scale(0.04) translateX(0);
            -ms-transform: scale(0.04) translateX(0);
            -o-transform: scale(0.04) translateX(0);
            right: 0%;
            left: 28%;
            top:-637%;
            bottom: -0%;
            transition: all 300ms ease;
            -webkit-transition: all 300ms ease;
            -moz-transition: all 300ms ease;
            -ms-transition: all 300ms ease;
            -o-transition: all 300ms ease;
            backdrop-filter: blur(0.5rem);
}


        #search:checked + label > .box_search__icon{
            position: fixed;
            width: 100%;
            height: 120%;
            z-index: 55;
            background-color: #0000003b;
            right: 50%;
            left: 50%;
            top:0;
            bottom: 0;
            transform:translateX(-50%) scale(1) translatey(0%) ;
            -webkit-transform:translateX(-50%) scale(1) translatey(0%) ;
            -moz-transform:translateX(-50%) scale(1) translatey(0%) ;
            -ms-transform:translateX(-50%) scale(1) translatey(0%) ;
            -o-transform:translateX(-50%) scale(1) translatey(0%) ;
            border-radius: 0rem;
            -webkit-border-radius: 0rem;
            -moz-border-radius: 0rem;
            -ms-border-radius: 0rem;
            -o-border-radius: 0rem;
            padding-top: 19rem;
}



    #search:checked + label #Layer_1{
        width: 50px;
        height: 50px;
    fill: #070707 ;
    background-color: #ffe600;
    padding: 0.5rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}



.headen{
    visibility: hidden;
    position: absolute;
    border: none;
    outline: none;
    padding: 1rem 5rem;
    border-radius:1rem ;
    -webkit-border-radius:1rem ;
    -moz-border-radius:1rem ;
    -ms-border-radius:1rem ;
    -o-border-radius:1rem ;
    font-size: larger;
}


#search:checked + label .headen{
    margin: auto;
    width: 80%;
    height: 50px;
    
visibility:visible;
z-index: -2;
}



/* navigetion end */







/* header section 1 start */


.header_section1{
    display: flex;
    max-width: 1350px;
    margin: auto;
    align-items: center;
    margin-top: 5rem;
 gap: 6rem;
}

.header_section11__bottom{
    display: flex;
    gap: 3rem;
}

.boxes_img__sheir{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header_section11__bottom a:first-child{
            color:#070707;
            padding: 0.6rem 2.5rem;
            font-size: 1.5rem;
            background-color: #F9FF05;
            border-radius: 0.5rem;
            -webkit-border-radius: 0.5rem;
            -moz-border-radius: 0.5rem;
            -ms-border-radius: 0.5rem;
            -o-border-radius: 0.5rem;
            transition: all 300ms ease;
            -webkit-transition: all 300ms ease;
            -moz-transition: all 300ms ease;
            -ms-transition: all 300ms ease;
            -o-transition: all 300ms ease;
}

            

        .header_section11__bottom a:first-child:hover{
            color:#fbff00;
            background-color: #0e0c0c;
        }



.header_section11 h2:first-child{
    font-family: SoraB;
font-size: 7rem;
color: #fff;
font-weight: 900;
}
.header_section11 h2:nth-child(2){
    font-family: SoraB;
font-size: 7rem;
color: #F9FF05;
font-weight: 900;

}
.header_section11 p:nth-child(3){
font-size: 1rem;
color: #fff;
max-width: 350px;
margin-bottom: 2.5rem;
margin-top: 1rem;
}



.img_box__sheire{
    width: 35px;
}





.img_section{
        bottom: -0.5rem;
        right: -5%;
    position: relative;
    width: 120%;
    animation-name: img_header;
    animation-duration: 8s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}







/* header section 1 end */







/* header section 2  start */



.header_section2{
    display: flex;
    background-image: linear-gradient(150.39deg, rgba(53, 53, 53, 0.6) 7.27%, rgba(53, 53, 53, 0) 97.83%);
    max-width: 1350px;
    margin: 4rem auto;
    padding: 8rem 8rem;
    justify-content: space-between;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}


.header_section2__boxes{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}

.header_section2__boxes___content{
    position: absolute;
    color: #d3d3d3;
    text-align: center;
}

.header_section2__boxes___content____img{
     width: 80px;
     height: 80px;
     padding: 1.2rem;
     background-image:radial-gradient( rgba(255, 219, 12, 0.7) 7.27%, rgba(53, 53, 53, 0) 97.83%);
     border-radius: 1.5rem;
     -webkit-border-radius: 1.5rem;
     -moz-border-radius: 1.5rem;
     -ms-border-radius: 1.5rem;
     -o-border-radius: 1.5rem;
     border: 2px solid white;
     margin-bottom: 1rem;
}


.header_section2__boxes___felesh{
    position: absolute;
    z-index: 2;
    bottom: 0;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}




.header_section2__boxes:hover{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    cursor: pointer;
}
.header_section2__boxes:hover .header_section2__boxes___felesh{
    transform: rotatez(180deg);
    -webkit-transform: rotatez(180deg);
    -moz-transform: rotatez(180deg);
    -ms-transform: rotatez(180deg);
    -o-transform: rotatez(180deg);
}






/* header section 2 end */







/* main sceile start */



.povers_section{
    margin: auto;
    max-width: 1340px;
    display: flex;
    flex-direction: column;
    gap: 11rem;
    margin-top: 10rem;
}


.povers_section1{
    display: flex;
    justify-content: space-between;
    color: #fff;
    align-items: center;
}

.pover_name h3:first-child{
    font-size: xx-large;
}
.pover_name p:nth-child(2){
    font-size: large;
    margin: 2rem auto;
    
}
.pover_name p:nth-child(3){
    font-size:large;
    max-width: 600px;
}





.pover_content{
    display: flex;
flex-direction: column;
gap: 2rem;
}


.povers{
display: flex;
align-items: center;
justify-content: space-between;
gap: 1rem;
}
.povers_khat{
    width: 400px;
    height: 7px;
    background-color: #aaaaaa;
    border-radius: 1000rem;
    -webkit-border-radius: 1000rem;
    -moz-border-radius: 1000rem;
    -ms-border-radius: 1000rem;
    -o-border-radius: 1000rem;
    position: relative;
}


.povers_khat::after{
    content: '%85';
    position: absolute;
    right: -3rem;
    top: -80%;
}


.povers_khat::before{
    content: '';
    position: absolute;
    display: block;
    width: 85%;
    height: 100%;
    background-color: #cfbd1a;
    border-radius:1000rem ;
    -webkit-border-radius:1000rem ;
    -moz-border-radius:1000rem ;
    -ms-border-radius:1000rem ;
    -o-border-radius:1000rem ;
}
.pover_content .povers:nth-child(2) .povers_khat::before{
    width: 80%;
}
.pover_content .povers:nth-child(3) .povers_khat::before{
    width: 10%;
}
.pover_content .povers:nth-child(4) .povers_khat::before{
    width: 60%;
}
.pover_content .povers:nth-child(5) .povers_khat::before{
    width: 60%;
}




.pover_content .povers:nth-child(2) .povers_khat::after{
    content: '%80';
}
.pover_content .povers:nth-child(3) .povers_khat::after{
    content: '%10';
}
.pover_content .povers:nth-child(4) .povers_khat::after{
    content: '%60';
}
.pover_content .povers:nth-child(5) .povers_khat::after{
    content: '%60';
}




.povers_section1:last-child .pover_content .povers:nth-child(1) .povers_khat::before{
    width: 50%;
}
.povers_section1:last-child .pover_content .povers:nth-child(2) .povers_khat::before{
    width: 25%;
}
.povers_section1:last-child .pover_content .povers:nth-child(3) .povers_khat::before{
    width: 35%;
}
.povers_section1:last-child .pover_content .povers:nth-child(4) .povers_khat::before{
    width: 90%;
}
.povers_section1:last-child .pover_content .povers:nth-child(5) .povers_khat::before{
    width: 99%;
}




.povers_section1:last-child .pover_content .povers:nth-child(1) .povers_khat::after{
    content: '%50';
}
.povers_section1:last-child .pover_content .povers:nth-child(2) .povers_khat::after{
    content: '%25';
}
.povers_section1:last-child .pover_content .povers:nth-child(3) .povers_khat::after{
    content: '%35';
}
.povers_section1:last-child .pover_content .povers:nth-child(4) .povers_khat::after{
    content: '%90';
}
.povers_section1:last-child .pover_content .povers:nth-child(5) .povers_khat::after{
    content: '%99';
}











.povers span:first-child{
display: flex;
align-items: center;
gap: 1rem;
}
.povers span:first-child::before{
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background-color: #F9FF05;
    color: #F9FF05;
    border-radius: 1000rem;
    -webkit-border-radius: 1000rem;
    -moz-border-radius: 1000rem;
    -ms-border-radius: 1000rem;
    -o-border-radius: 1000rem;
}




/* main povers end */







/* main sceile start */


.main_items__section{
    max-width: 1480px;
    margin: 5rem auto;
    display: grid;
    
}
.main_items__section h2:nth-child(2){
    padding-top: 10vw;
    font-family: SoraS;
font-size: 4rem;
color: #fff;
line-height: 6rem;
}
.main_items__section p:nth-child(3){
    text-indent: 0.5rem;
    font-family: SoraS;
font-size:1.4rem;
color: #dddddd;
}




.dayere_vasat{
    position: absolute;
    left: -28vw;
    background-color: #F9FF05;
    width: 30vw;
    height: 30vw;
    border-radius: 1000rem;
    -webkit-border-radius: 1000rem;
    -moz-border-radius: 1000rem;
    -ms-border-radius: 1000rem;
    -o-border-radius: 1000rem;
}







 /*  nav_main  */

 .nav_main{
    justify-self: end;
    display: flex;
    align-items: center;
    gap: 2rem;
 }

 .hamberger_meno{
    padding: 1rem;
    background-color: #131315;
    font-size: large;
    display: flex;
    color: #b9b9b9;
    border:  1px solid #5c5c5c65;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    align-items: center;
 }

 .nav_ul__main{
    position: relative;
    padding: 1.5rem;
    background-color: #1E1E1E;
    font-size: 1.6rem;
    display: flex;
    color: #b9b9b9;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    gap: 2.5rem;
}

.bg_mover{
    left: 0;
    top: 0;
    width: 17.5%;
    height: 100%;
    position: absolute;
    display: block;
    background-color: #4747479d;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    z-index: 2;
}




.nav_ul__main li{
position: relative;
z-index: 3;

}

.nav_ul__main li:hover{
    cursor: pointer;
}
.nav_ul__main li:nth-child(2):hover ~ .bg_mover{
    left: 101px;
    width: 20.5%;
}

.nav_ul__main li:nth-child(3):hover ~ .bg_mover{
    left: 212px;
    width: 32.5%;
}
.nav_ul__main li:nth-child(4):hover ~ .bg_mover{
    left: 71%;
    right: 0;
    width: 29%;
}





/*     article_items__box    */


.article_items__box{  
    margin-top: 4rem;
    margin-left: auto;
    width: 1410px;
      display: flex;
      justify-content: space-between;
    }
.item_box{
    background: linear-gradient(150.39deg, rgba(53, 53, 53, 0.36) 7.27%, rgba(53, 53, 53, 0) 97.83%);
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    width: 30%;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}

.item_box span:nth-child(2){
    font-size: larger;
    margin: 2rem 0.4rem;
    color: #FFFFFFE5;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}
.item_box span:nth-child(3){
    display: flex;
    gap: 0.3rem;
    align-items: center;
    color: #9c9c9c;
    font-size: medium;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}




.Price_items__box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
    color: #d4d4d4;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}
.Price_items__box a{
    font-size: larger;
    color: #000000;
    background-color: #F9FF05;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;

}

.Price_items__box a::after{
    margin-left: 0.4rem ;
    content: '';
    width: 10px;
    height: 10px;
    display: inline-block;
    border-top: 1px solid black;
    border-right: 1px solid black;
    transform: rotatez(45deg);
    -webkit-transform: rotatez(45deg);
    -moz-transform: rotatez(45deg);
    -ms-transform: rotatez(45deg);
    -o-transform: rotatez(45deg);
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}


.item_box:hover{
    background-color: #fbff00;
    transform:translatey(-15px);
    -webkit-transform:translatey(-15px);
    -moz-transform:translatey(-15px);
    -ms-transform:translatey(-15px);
    -o-transform:translatey(-15px);
    color: #000;
}

.item_box__img___box{
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}
.item_box:hover .item_box__img___box{
    transform:translatey(5px);
    -webkit-transform:translatey(5px);
    -moz-transform:translatey(5px);
    -ms-transform:translatey(5px);
    -o-transform:translatey(5px);
}

span:nth-child(3) svg{
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-trargb: all 300ms ease-in-out;
}

.item_box:hover span:nth-child(3) svg{
    fill: #000000;
}

.item_box:hover .Price_items__box a{
    color: #F9FF05;
    background-color: #000;
}
.item_box:hover  .Price_items__box a::after{
    border-top: 2px solid #F9FF05;
    border-right: 2px solid #F9FF05;
}




.item_box:hover  span:nth-child(2){
    color: #000;
}
.item_box:hover  span:nth-child(3){
    color: #000;
}




.item_box:hover .Price_items__box{
    color: #000;
}













/*     article_items__box    */





.main_comments__section{  
    margin: auto;
    margin-top: 4rem;
    width: 1480px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .main_comments__section .main_comments__article1 h2:nth-child(2){
        padding-top: 10vw;
        font-family: SoraS;
    font-size: 4rem;
    color: #fff;
    line-height: 6rem;
    }

    .main_comments__section .main_comments__article1 p:nth-child(3){
        text-indent: 0.5rem;
        font-family: SoraS;
    font-size:1.4rem;
    color: #dddddd;
    }



    /* main sceile end */







/* main_comments__article start */


.main_comments__section{
    margin-top: 6rem;
}




/* main_comments__article2 start */




.main_comments__article2{
    direction: rtl;
}


.comments_box{
    padding:0 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: auto;
    max-height: 400px;
    padding-left:2rem;
    width: 500px;

}

.comments_box::-webkit-scrollbar {
    width: 8px;
    background-color: #9e9e9e;
    border-radius: 10px;
}

/* قسمت ثابت */
.comments_box::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* قسمت متحرک */
.comments_box::-webkit-scrollbar-thumb {
    background: #F9FF05;
    border-radius: 10px;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}
.comments_box::-webkit-scrollbar-thumb:hover {
    background: #ffae00;

}


.comments{
    background: linear-gradient(150.39deg, rgba(53, 53, 53, 0.36) 7.27%, rgba(53, 53, 53, 0) 97.83%);
    padding: 1.5rem 3rem;
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
    color: #8d8d8d;
    display: flex;
    align-items: center;
    gap: 1rem;
    direction: ltr;
    font-size: large;
}


.comments::before{
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 1000rem;
    -webkit-border-radius: 1000rem;
    -moz-border-radius: 1000rem;
    -ms-border-radius: 1000rem;
    -o-border-radius: 1000rem;
    background-color: #eeff00;
}




.main_comments__article2 button:first-child::after{
    margin: 0.8rem 2.1rem 0.2rem;
    content: '';
    width: 15px;
    height: 15px;
    display: block;
    border-top: 2px solid black;
    border-left: 2px solid black;
    transform: rotatez(45deg);
    -webkit-transform: rotatez(45deg);
    -moz-transform: rotatez(45deg);
    -ms-transform: rotatez(45deg);
    -o-transform: rotatez(45deg);
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}


.main_comments__article2 button:first-child{
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    margin-bottom: 1rem;
    background-color: #eeff00;  
    border: none;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}

.main_comments__article2 button:last-child::after{
    margin: 0.2rem 2.1rem 0.8rem;
    content: '';
    width: 15px;
    height: 15px;
    display: block;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    transform: rotatez(45deg);
    -webkit-transform: rotatez(45deg);
    -moz-transform: rotatez(45deg);
    -ms-transform: rotatez(45deg);
    -o-transform: rotatez(45deg);
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}


.main_comments__article2 button:last-child{
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    margin-top: 1rem;
    background-color: #eeff00;  
    border: none;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}



.main_comments__article2 > button:hover{
    background-color: #000000;  
    cursor: pointer;

}


.main_comments__article2 button:last-child:hover::after{
    border-bottom: 3px solid #eeff00;
    border-right: 3px solid #eeff00;
}
.main_comments__article2 button:first-child:hover::after{
    border-top: 3px solid #eeff00;
    border-left: 3px solid #eeff00;
}







    /* main_comments__article end */







    /*  main_section4 start */





.main_section4{
    margin: auto;
    margin-top: 10rem;
    display: flex;
    max-width: 1350px;
    justify-content: space-evenly;
    
}

.icon_box__main{
    position: relative;
    transition: all 400ms ease-in-out;
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
}


.icon_box__main___section4{
    width: 75px;
    height: 75px;
    position: absolute;
    left: 50%;
    right: 50%;
    top: 50%;
    bottom: 50%;
    transform: translatex(-50%) translateY(-60%);
    -webkit-transform: translatex(-50%) translateY(-60%);
    -moz-transform: translatex(-50%) translateY(-60%);
    -ms-transform: translatex(-50%) translateY(-60%);
    -o-transform: translatex(-50%) translateY(-60%);
}




.icon_box__main::after{
    left: 50%;
    right: 50%;
    bottom: -2rem;
    content: '';
    position: absolute;
    width: 45px;
    height: 45px;
    display: block;
    border-top: 4px solid #e5ff00;
    border-right: 4px solid #e5ff00;
    transform: rotate(-45deg) translatex(50%)  scale(0);
    -webkit-transform: rotate(-45deg) translatex(50%)  scale(0);
    -moz-transform: rotate(-45deg) translatex(50%)  scale(0);
    -ms-transform: rotate(-45deg) translatex(50%)  scale(0);
    -o-transform: rotate(-45deg) translatex(50%)  scale(0);
    transform-origin: -100%;
    border-top-right-radius: 2rem;
    transition:all 400ms ease-in-out, opacity  400ms ease-in-out;
    -webkit-transition:all 400ms ease-in-out, opacity  400ms ease-in-out;
    -moz-transition:all 400ms ease-in-out, opacity  400ms ease-in-out;
    -ms-transition:all 400ms ease-in-out, opacity  400ms ease-in-out;
    -o-transition:all 400ms ease-in-out, opacity  400ms ease-in-out;
    opacity: 0;
}

.icon_box__main:hover::after{
    transform-origin: 49%;
    transform: rotatez(-45deg) translateY(-80%)  scale(1);
    -webkit-transform: rotatez(-45deg) translateY(-80%)  scale(1);
    -moz-transform: rotatez(-45deg) translateY(-80%)  scale(1);
    -ms-transform: rotatez(-45deg) translateY(-80%)  scale(1);
    -o-transform: rotatez(-45deg) translateY(-80%)  scale(1);
    /* transition: all 500ms ease-in-out, opacity  500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out, opacity  500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out, opacity  500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out, opacity  500ms ease-in-out;
    -o-transition: all 500ms ease-in-out, opacity  500ms ease-in-out; */
    opacity: 1;
}

.icon_box__main:hover{
    transform: scale(1.3,1.4);
    -webkit-transform: scale(1.3,1.4);
    -moz-transform: scale(1.3,1.4);
    -ms-transform: scale(1.3,1.4);
    -o-transform: scale(1.3,1.4);
}








    /* main_section4 end */




    /* main end */







    /*  footer start */

    /* footer_section__1 start */


 .footer_section__1{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 4rem;
    max-width: 1500px;
    margin:6rem auto;
    background: linear-gradient(150.39deg, rgba(53, 53, 53, 0.36) 7.27%, rgba(53, 53, 53, 0) 97.83%);
    border-radius: 3rem;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
    align-items: center;
}


.footer_section__11 h2:nth-child(1){
    font-family:SoraS;
font-size: 3.2rem;
color: #dddddd;
margin-bottom: 2rem;
}

.footer_section__11 p:nth-child(2){
    font-family:SoraS;
font-size: 1.35rem;
color: #dddddd;
max-width: 67%;
margin-bottom: 3rem;
}

.footer_section__11 a:nth-child(3){
    font-family:Soras;
    font-weight: 900;
    font-size: 1.35rem;
    color: #000000;
    background-color: #F9FF05;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    margin-top: 3rem;
}



.footer_section__11 a::after{
    margin-left: 0.4rem ;
    content: '';
    width: 10px;
    height: 10px;
    display: inline-block;
    border-top: 1px solid black;
    border-right: 1px solid black;
    transform: rotatez(45deg);
    -webkit-transform: rotatez(45deg);
    -moz-transform: rotatez(45deg);
    -ms-transform: rotatez(45deg);
    -o-transform: rotatez(45deg);
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}

.footer_section__11 a:nth-child(3):hover{
    background-color: #000000;
    color: #e5ff00;
}
.footer_section__11 a:nth-child(3):hover::after{

    border-top: 2px solid #e5ff00;
    border-right: 2px solid #e5ff00;
}



    /* footer_section__11 end */

        /* footer_section__12 start */


        .footer_section__12{
            margin-left: 6rem;
            display: flex;
            flex-direction: column;
            gap: 1.1rem;
        }


        .link_box__section___footer{
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 450px;
            color: #f7f7f7;
            font-size: 1.3rem;
            padding: 1.0rem 2rem;
            background-color: #252525;
            border-radius: 1rem;
            -webkit-border-radius: 1rem;
            -moz-border-radius: 1rem;
            -ms-border-radius: 1rem;
            -o-border-radius: 1rem;
}

.link_box__section___footer a:nth-child(2){
    font-family:Soras;
    font-weight: 900;
    font-size: 1.35rem;
    color: #000000;
    background-color: #F9FF05;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}



.link_box__section___footer a::after{
    margin-left: 0.4rem ;
    content: '';
    width: 10px;
    height: 10px;
    display: inline-block;
    border-top: 1px solid black;
    border-right: 1px solid black;
    transform: rotatez(45deg);
    -webkit-transform: rotatez(45deg);
    -moz-transform: rotatez(45deg);
    -ms-transform: rotatez(45deg);
    -o-transform: rotatez(45deg);
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}

.link_box__section___footer a:nth-child(2):hover{
    background-color: #000000;
    color: #e5ff00;
}
.link_box__section___footer a:nth-child(2):hover::after{

    border-top: 2px solid #e5ff00;
    border-right: 2px solid #e5ff00;
}




    /* footer_section__12 end */
    /* footer_section__1 end */


        /* footer_section__2 start */


        .footer_section__2p{
            width: 100%;
            background: linear-gradient(150.39deg, rgba(53, 53, 53, 0.36) 7.27%, rgba(53, 53, 53, 0) 97.83%);

        }
        .footer_section__2{
            max-width: 1550px;
            margin: auto;
            display: grid;
            grid-template-columns: repeat(5,auto);
            align-items: center;
            padding: 1.5rem 0 4rem;
        }




        .footer_section__21 > h2:first-child{
            font-size:5rem;
            color: #fbff00;
        }
        .footer_section__21 > h3:nth-child(2){
            font-family: SoraS;
            font-weight: 100;
            font-size:1.5rem;
            color: #ffffff;
            display: flex;
            flex-direction: column;
        }
        .footer_section__21 > h3:nth-child(2)::after{
            content: '';
            display: block;
            width: 6rem;
            height: 3px;
            margin:0.5rem 0 2rem ;
            color: #ffffff;
            background-color: #fbff00;
        }
        
        .footer_section__21 > p:nth-child(3){
            font-family: SoraS;
            font-weight: 100;
            font-size:1.2rem;
            color: #ffffff;
            max-width: 460px;
        }





        .footer_section__22 {
            margin-left: -8rem;
            margin-top: -3rem;
        }
        .footer_section__22 > h3{
            font-size:1.6rem;
            color: #ffffff;
            text-align: center;
        }
        .footer_shabake__link{
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 1rem;
            margin-top: 3rem;
            margin-left: 7rem;
        }
        .footer_shabake__link a{
            color: #cfbd1a;
            display: flex;
            align-items: center;
            gap: 1rem;
            font-size: large;
        }
        .footer_shabake__link a::before{
            content: '';
            display: block;
            width: 0.5rem;
            height: 0.5rem;
            background-color: #ffffff;
            border-radius: 1000rem;
            -webkit-border-radius: 1000rem;
            -moz-border-radius: 1000rem;
            -ms-border-radius: 1000rem;
            -o-border-radius: 1000rem;
}




    .footer_section__23{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        max-width: 300px;
    }

    .footer_section__23 > h3:nth-child(1){
        color: #fff;
        font-size: xx-large;
    }

    .form_footer3{
        position: relative;
    }
    .form_footer3 > input{
        width: 100%;
        height: 3rem;
        padding: 1.8rem;
        font-size: large;
        background-color: #252525;
        border: none;
        border-radius: 1rem;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -ms-border-radius: 1rem;
        -o-border-radius: 1rem;
        outline: none;
        color: #f7f7f7;
}

    .icon_box__formfooter{
        position: absolute;
        right: 0;
        top: 0;
        padding: 1rem;
        height: 100%;
        background-color: #eeff00;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 1rem;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -ms-border-radius: 1rem;
        -o-border-radius: 1rem;
        transition: all 300ms ease-in-out;
        -webkit-transition: all 300ms ease-in-out;
        -moz-transition: all 300ms ease-in-out;
        -ms-transition: all 300ms ease-in-out;
        -o-transition: all 300ms ease-in-out;
}



        .footer_icon__box{
            display: flex;
            height: 80px;
            width: 130px;
            gap: 1rem;
            justify-content: center;
            align-items: center;
            margin-left: 3rem;
        }
        .icon_footer{
            display: flex;
            align-items: center;
            width: 80px;

        }



        .icon_box__formfooter:hover{
            cursor: pointer;
            background-color: #ffd518;
            
        }






        @media all and (max-width:1550px) {
            
            .header_section2{
                flex-wrap: wrap;
        }

        #search:checked + label .headen {
            width: 71%;
        }
    
    }